llama_core/llama-2-13b/
llama_core/llama-2-13b-chat/
llama_core/llama-2-70b/
llama_core/llama-2-70b-chat/
llama_core/llama-2-7b/
llama_core/llama-2-7b-chat/

app_frame/model_weights/
model_weights/
tokenizers/





